<h1> Article Page </h1>

<%= link_to "Back to Article List", articles_path %>

<h3> <%=@article.title%> </h3>

<p> <%=@article.body%> </p>

<p> <%=@article.author.try(:first_name)%> </p>

<p>Tags</p>
<ul>
  <% @article.tags.each do |tag| %>
  <li><%= tag.name %></li>
  <% end %>
</ul>
